@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-body: #000000;
    --color-dark: #1F1F1F;
    --color-light: #F6F6F6;
    --color-red: #DD2B1C;
    --color-grey: #E3E3E3;
    --color-grey-1: #B0B0B0;
    --color-grey-2: #A3A3A3;
    --color-dark-grey: #323538;
}

body {
    background-color: var(--color-body);
    font-family: "Open Sans";
}

.bg-light {
    background-color: var(--color-light);
}
.bg-dark-grey{
    background-color: var(--color-dark-grey);
}
.bg-red {
    background-color: var(--color-red);
}

.bg-resume {
    background-image: url('./images/career/resume-bg.png');
    background-repeat: no-repeat;
}
.bg-ready {
    background-image: url('./images/design/ready-bg.png');
    background-repeat: no-repeat;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-grey {
    background-color: var(--color-grey);
}

.text-red {
    color: var(--color-red);
}

.text-grey-1 {
    color: var(--color-grey-1);
}
.text-grey-2 {
    color: var(--color-grey-2);
}
.fw-extrabold{
    font-weight: 900;
}
.border-red {
    border: 1px solid var(--color-red);
}

.px-custom {
    padding-left: 100px;
    padding-right: 100px;
}

.mt-custom {
    margin-top: 200px;
}
.py-custom{
    padding-top: 60px;
    padding-bottom: 300px;
}
.py-custom-1{
    padding-top: 200px;
    padding-bottom: 60px;
}
.fs-extrabold {
    font-size: 100px;
}

.fs-bold {
    font-size: 60px;
}


.fs-custom {
    font-size: 70px;
}

.z-negative {
    z-index: -11111;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--color-red);
}

.accordion-button::after {
    display: none;
}

.offer-slider {
    position: relative;
}

.slick-arrow {
    background: none;
    border: none;
    font-size: 32px;
    color: #000;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev:before,
.slick-next:before {
    display: none !important;
    content: '' !important;
}

.slick-prev {
    left: 55%;
    top: 110%;
}

.slick-next {
    right: 38%;
    top: 110%;
}

.slick-prev-1 {
    left: -10%;
    top: 40%;
    color: white;
}

.slick-next-1 {
    right: -10%;
    top: 40%;
    color: white;
}

.slick-prev-2 {
    left: -4%;
    top: 50%;
    color: white;
}

.slick-next-2 {
    right: -3%;
    top: 50%;
    color: white;
}
.offer-slider .slick-prev:hover,
.offer-slider .slick-next:hover,
.offer-slider .slick-prev:focus,
.offer-slider .slick-next:focus {
    opacity: 1 !important;
    background: transparent !important;
    color: #000 !important;
}

.product-text-width {
    width: 90%;
}

.header-text-position {
    top: 50%;
}

.footer-logo {
    width: 135px;
    height: 58px;
}

.offer-img-size {
    width: 480px;
    height: 400px;
}

.culture-img {
    width: 90%;
    top: 9%;
    left: 5%;
}
.guarantee-img-position{
    bottom: -10%;
    right: 0;
}
.why-img-photo {
    top: 9%;
    right: 5%;
}

.header-dots {
    display: flex !important;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.header-dots li {
    flex: 1;
    margin: 0;
    list-style: none;
}

.header-dot {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
}

.header-dots .slick-active .header-dot {
    background-color: red;
}
.client-dots {
    display: flex !important;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.client-dots li {
    flex: 1;
    margin: 0;
    list-style: none;
}

.client-dot {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
}

.client-dots .slick-active .header-dot {
    background-color: red;
}
.line{
    height: 350px;
    width: 1px;
    background-color: #000000;
}


@media(max-width: 1200px) {
    .header-h {
        height: 700px;
    }
}

@media(max-width: 992px) {
    .header-text-position {
        top: 40%;
        left: 0;
    }

    .header-slider img {
        height: 600px;
        object-fit: cover;
    }

    .items-bg {
        background: #000;
    }

    .fs-bold {
        font-size: 40px;
    }

    .fs-extrabold {
        font-size: 60px;
    }
}

@media(max-width:480px) {
    .fs-custom {
        font-size: 48px;
    }

    .fs-portfolio-h2 {
        font-size: 20px;
    }

    .fs-portfolio-p {
        font-size: 14px;
    }

    .navbar-brand img {
        width: 130px;
    }

    .fs-bold {
        font-size: 30px;
    }

    .px-custom {
        padding-left: 60px;
        padding-right: 60px;
    }
}